.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Demoabi (s.f). Muestreo. 

                    
                    td Video
                    td 
                        a(href="https://youtu.be/f_Hx0pOJEuY", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Kotler,2016, Dirección de marketing	
                    
                    td Libro 

 
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4273&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Prettel,2016, Marketing, una herramienta para el crecimiento	
                    
                    td Libro


                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5684&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Malhotra,2008, Investigación de mercados	
                    
                    td Libro	 


                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3724&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td McDaniel, C. & Gates, R., 2016, Investigación de mercados	
                    
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=2757&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Prieto, E. 2013, Investigación de mercados
                    td Libro
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4870549&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar        

                tr
                    td Dos Santos, M, 2017, Investigación de mercados. Manual Universitario. 	
                    td Libro	
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=5190269&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   

                tr
                    td Rosendo, V. (2018). Investigación de mercados.	
                    td Libro	
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=5758460&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Sampieri, R. (2018) Metodología de la investigación.	
                    td Libro	
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=6443&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Martínez, S. (2011) Innovación en la investigación de mercados	
                    td Libro	 


                    td 
                        a(href="https://www-alfaomegacloud-com.bdigital.sena.edu.co/auth/ip?intended_url=https://www-alfaomegacloud-com.bdigital.sena.edu.co/reader/innovacion-en-la-investigacion-de-mercados?location=3", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Hair, J. & Bush R. (2010) Investigación de mercados	
                    td Libro	 


                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Martínez Bencardino, C. (2011). Estadística básica aplicada	
                    td Libro	
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=3203901&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Lind, D. & Marchal, W. (2015) Estadística aplicada	
                    td Libro	
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=2266&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Domínguez, J. (2015) Estadística para administración y economía	
                    td Libro	
                    td 
                        a(href="https://www-alfaomegacloud-com.bdigital.sena.edu.co/auth/ip?intended_url=https://www-alfaomegacloud-com.bdigital.sena.edu.co/reader/estadistica-para-administracion-y-economia?location=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar